* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #10151c;
  font-family: Arial, sans-serif;
  touch-action: none;
}

#gameContainer {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#gameContainer canvas {
  display: block;
  width: 100%;
  height: 100%;
  touch-action: none;
}

/* Интерфейс */
#gameInterface {
  position: fixed;
  inset: 0;
  z-index: 5;
  pointer-events: none;
}

#gameInterface button,
#walkControls,
#joystick,
#joystickKnob {
  pointer-events: auto;
}

/* Верхняя панель */
#topPanel {
  position: absolute;
  top: 12px;
  left: 12px;
  right: 12px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

/* Строительство */
#constructionPanel {
  position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 95vw;
  gap: 6px;
}

button {
  padding: 10px 14px;
  border: none;
  border-radius: 10px;
  color: white;
  background: #256fe8;
  font-size: 14px;
  cursor: pointer;
}

button:active {
  transform: scale(0.95);
}

/* Управление прогулкой */
#walkControls {
  position: fixed;
  inset: 0;
  display: none;
  z-index: 10;
  pointer-events: none;
}

#joystick {
  position: absolute;
  left: 28px;
  bottom: 28px;
  width: 125px;
  height: 125px;
  border: 2px solid #ffffff66;
  border-radius: 50%;
  background: #ffffff20;
  pointer-events: auto;
}

#joystickKnob {
  position: absolute;
  left: 37px;
  top: 37px;
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background: #ffffffaa;
}

#cameraTouchArea {
  position: absolute;
  left: 35%;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: auto;
  background: transparent;
}

#interactButton {
  position: absolute;
  right: 25px;
  bottom: 45px;
}

#exitWalkButton {
  position: absolute;
  right: 20px;
  top: 20px;
}

/* Горизонтальный режим */
@media (orientation: landscape) {
  #constructionPanel {
    bottom: 8px;
  }

  #joystick {
    left: 24px;
    bottom: 22px;
  }
}

/* Если телефон вертикально */
@media (orientation: portrait) {
  #gameContainer::after {
    content: "Поверните телефон горизонтально ↔";
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    text-align: center;
    color: white;
    background: #10151cf5;
    font-size: 22px;
    font-weight: bold;
    z-index: 100;
  }
}

/* Компьютер */
@media (min-width: 800px) {
  #joystick {
    display: none;
  }

  #cameraTouchArea {
    display: none;
  }

  button {
    font-size: 15px;
  }
}
